{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": "defaults",
        "modules": "auto",
        "useBuiltIns": "usage",
        "corejs": 3,
        "debug": true
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": false,
        "displayName": true,
        "minify": true,
        "transpileTemplateLiterals": true
      }
    ]
  ]
}
